.ColumnBlock{
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .ColumnBlock{
        width: 100% !important;
        gap: 30px !important;
    }
}