.Header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.Header ul {
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 50px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
}

.Header ul a{
    color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .Header{
        display: none;
    }
}