* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    --blockWidth: 1300px;
}

body {
    background-color: #eef0f4;
}

main {
    display: flex;
    flex-direction: column;
    gap: 80px;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    main{
        gap: 30px !important;
    }
    .logoImg{
        width: 100px !important;
    }
    .logoText{
        width: 80% !important;
    }

    .partner_logo{
        width: 40% !important;
        height: auto !important;
    }

    .bottomImgLine{
        margin-top: -30px !important;
    }
    textarea{
        width: 100% !important;
    }
    input{
        width: 100% !important;
    }
}